@using Microsoft.AspNetCore.Identity
@inject SignInManager<LM.Models.LM.AppUser> SignInManager
@inject UserManager<LM.Models.LM.AppUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LM</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- Custom CSS-->
    <link href="~/css/gica.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    @*
        <!-- Bootstrap Core Css -->
        <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Waves Effect Css -->
        <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />

        <!-- Animation Css -->
        <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

        <link href="~/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

        <!-- Bootstrap Material Datetime Picker Css -->
        <link href="~/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />

        <!-- Wait Me Css -->
        <link href="~/plugins/waitme/waitMe.css" rel="stylesheet" />

        <!-- Colorpicker Css -->
        <link href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />

        <!-- Dropzone Css -->
        <link href="~/plugins/dropzone/dropzone.css" rel="stylesheet">

        <!-- Multi Select Css -->
        <link href="~/plugins/multi-select/css/multi-select.css" rel="stylesheet">

        <!-- Bootstrap Spinner Css -->
        <link href="~/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">

        <!-- Bootstrap Tagsinput Css -->
        <link href="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

        <!-- Bootstrap Select Css -->
        <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

        <!-- noUISlider Css -->
        <link href="~/plugins/nouislider/nouislider.min.css" rel="stylesheet" />

        <!-- Morris Chart Css-->
        <link href="~/plugins/morrisjs/morris.css" rel="stylesheet" />

        <!-- Custom Css -->
        <link href="~/css/style.css" rel="stylesheet">

        <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
        <link href="~/css/themes/all-themes.css" rel="stylesheet" />
    *@

    @*Added for Chart Js test*@
    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/css/themes/all-themes.css" rel="stylesheet" />

    <!-- Bootstrap Select Css -->
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <!-- Bootstrap Spinner Css -->
    <link href="~/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">

    <!-- Multi Select Css -->
    <link href="~/plugins/multi-select/css/multi-select.css" rel="stylesheet">

    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />

    <!-- Vue JS-->
    <script src="~/plugins/vuejs/vue.js" rel="stylesheet"></script>

    <!-- JQuery DataTable Css -->
    <link href="~/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">




</head>
<body class="theme-indigo">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <!-- #END# Search Bar -->

    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand text-center align-right" asp-area="" asp-controller="Home" asp-action="Index">
                    <span>
                        <img src="~/images/logo.png" alt="Alternate Text" style="height: 35px;" />
                    </span>
                    <small>License Management Console</small>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">


                    <!-- Call Search -->
                    <!-- #END# Call Search -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->

    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <partial name="_LoginPartialB">

                <!-- #User Info -->
                <!-- Menu -->
                <div class="menu">
                    <ul class="list">
                        <li class="header">MAIN NAVIGATION</li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="">
                                <a is-active-route asp-area="Generic" asp-controller="Dashboard" asp-action="Index" title="Manage">
                                    <i class="material-icons">dashboard</i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                        }

                        <li class="">
                            <a is-active-route asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="material-icons">home</i>
                                <span>Home</span>
                            </a>
                        </li>

                        <li class="">
                            <a is-active-route asp-area="" asp-controller="Lists" asp-action="ListTa">
                                <i class="material-icons">widgets</i>
                                <span>Referential Framework</span>
                            </a>

                        </li>

                        <li class="">
                            <a href="javascript:void(0);" class="menu-toggle" is-toggle-route>
                                <i class="material-icons">contacts</i>
                                <span>Owners</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a is-active-route asp-area="" asp-controller="Lists" asp-action="ListTe">Teams</a>
                                </li>
                                <li>
                                    <a is-active-route asp-area="" asp-controller="Lists" asp-action="ListDe">Departments</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- #Menu -->
                <!-- Footer -->
                <div class="legal">
                    <div class="copyright">
                        &copy; @DateTime.Now.Year - <a href="#">License Management Console</a>.
                    </div>
                    <div class="version">
                        <b>Version: </b> 0.9.3 (Beta)<br />
                        <small class="blockquote-reverse">Developed by Genc Gashi</small>
                    </div>
                </div>
                <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <!-- #END# Right Sidebar -->
    </section>


    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-col-deep-orange">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Logout?</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to logout?
                </div>
                <div class="modal-footer">
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                        <button type="submit" class="btn btn-link waves-effect">LOGOUT</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>



    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LM</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)


    @*



        <!-- Jquery Core Js -->
        <script src="~/plugins/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core Js -->
        <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

        <!-- Select Plugin Js -->
        <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>

        <!-- Slimscroll Plugin Js -->
        <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

        <!-- Bootstrap Colorpicker Js -->
        <!--
        <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
        -->
        <!-- Dropzone Plugin Js -->
        <script src="~/plugins/dropzone/dropzone.js"></script>

        <!-- Input Mask Plugin Js -->
        <script src="~/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

        <!-- Multi Select Plugin Js -->
        <script src="~/plugins/multi-select/js/jquery.multi-select.js"></script>

        <!-- Jquery Spinner Plugin Js -->
        <script src="~/plugins/jquery-spinner/js/jquery.spinner.js"></script>


        <!-- Bootstrap Tags Input Plugin Js -->
        <!--
        <script src="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
        -->
        <!-- noUISlider Plugin Js -->
        <!--
        <script src="~/plugins/nouislider/nouislider.js"></script>
            -->
        <!-- Waves Effect Plugin Js -->
        <script src="~/plugins/node-waves/waves.js"></script>

        <!-- Jquery CountTo Plugin Js -->
        <!--
        <script src="~/plugins/jquery-countto/jquery.countTo.js"></script>
            -->
        <!-- Morris Plugin Js -->
        <!--
        <script src="~/plugins/raphael/raphael.min.js"></script>
        <script src="~/plugins/morrisjs/morris.js"></script>
            -->
        <!-- ChartJs -->

        <script src="~/plugins/chartjs/Chart.bundle.js"></script>
        <!-- <script src="~/js/pages/charts/chartjs.js"></script>-->
        <!-- Flot Charts Plugin Js -->
        <!--
        <script src="~/plugins/flot-charts/jquery.flot.js"></script>
        <script src="~/plugins/flot-charts/jquery.flot.resize.js"></script>
        <script src="~/plugins/flot-charts/jquery.flot.pie.js"></script>
        <script src="~/plugins/flot-charts/jquery.flot.categories.js"></script>
        <script src="~/plugins/flot-charts/jquery.flot.time.js"></script>
            -->
        <!-- Moment Plugin Js -->

        <script src="~/plugins/momentjs/moment.js"></script>

        <!-- Bootstrap Material Datetime Picker Plugin Js -->
        <script src="~/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>


        <!-- Jquery DataTable Plugin Js -->
        <!--
        <script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
        <script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
        <script src="~/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
        <script src="~/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
        <script src="~/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
        <script src="~/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
        <script src="~/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
        <script src="~/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
        <script src="~/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
            -->
        <!-- Autosize Plugin Js -->
        <script src="~/plugins/autosize/autosize.js"></script>

        <!-- Sparkline Chart Plugin Js -->
        <!--
        <script src="~/plugins/jquery-sparkline/jquery.sparkline.js"></script>
            -->
        <!-- Custom Js -->
        <script src="~/js/admin.js"></script>
        <script src="~/js/pages/index.js"></script>

        <!-- Demo Js -->
        <script src="~/js/demo.js"></script>
        <script src="~/js/pages/tables/jquery-datatable.js"></script>
    *@

    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>

    <!-- Chart Plugins Js -->
    <script src="~/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>
    <script src="~/js/pages/charts/chartjs.js"></script>

    <!-- Demo Js -->
    <script src="~/js/demo.js"></script>

    <!-- Dropzone Plugin Js -->
    <script src="~/plugins/dropzone/dropzone.js"></script>

    <!-- Input Mask Plugin Js -->
    <script src="~/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="~/plugins/jquery-spinner/js/jquery.spinner.js"></script>

    <!-- Moment.js-->
    <script src="~/plugins/momentjs/moment.js"></script>

    <!-- Chart.js -->
    <script src="~/plugins/chartjs/Chart.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <script src="~/js/pages/tables/jquery-datatable.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <!-- Jquery Knob Plugin Js -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/js/pages/charts/jquery-knob.js"></script>

    <script src="~/js/pages/ui/tooltips-popovers.js"></script>

</body>
    </html>
