@model LM.Areas.Generic.ViewModels.DetailsVM

@{
    ViewData["Title"] = "Details";
}

<div class="body">
    <ol class="breadcrumb breadcrumb-bg-cyan">
        <li><a asp-controller="Dashboard" asp-action="Index"><i class="material-icons">home</i> Dashboard</a></li>
        <li><a asp-action="Index"> Softwares</a></li>
        <li class="active">Details (@Model.Software.Name)</li>
    </ol>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header bg-green">
            <h2>
                @Model.Software.Name

            </h2>
            <ul class="header-dropdown m-r-0">
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">info_outline</i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">help_outline</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="body">
            <div class="row clearfix">
                <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                    <div class="panel-group" id="accordion_19" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-col-brown">
                            <div class="panel-heading" role="tab" id="headingZero_19">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapseZero_19" aria-expanded="true" aria-controls="collapseZero_19">
                                        Owners
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne_19" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_19">
                                <div class="panel-body">
                                    <span class="font-bold">IT Owner Team:  </span><span>@Model.Software.ItOwner.Name </span><br />
                                    <span class="font-bold">IT Owner:  </span><span>@Model.Software.ItOwnerName </span><br />
                                    <span class="font-bold">Business Owners:  </span>
                                    <ul>
                                        @foreach (var team in Model.Software.BusinessOwnerTeams)
                                        {
                                            <li>@team.Name</li>
                                        }
                                    </ul>
                                    
                                    <span class="font-bold">Purpose For:  </span><span>@Model.Software.Purpose.Name </span>
                                    <h5>Used: <span class="label bg-@(Model.Software.IsUsed? "green": "deep-orange")">@(Model.Software.IsUsed ? "YES" : "NO" )</span> </h5>
                                    <h5>Intenet Facing: <span class="label bg-@(Model.Software.IsInternetFacing? "green": "deep-orange")">@(Model.Software.IsInternetFacing ? "YES" : "NO" )</span> </h5>
                                    <h5>Mobile: <span class="label bg-@(Model.Software.IsMobile? "green": "deep-orange")">@(Model.Software.IsMobile ? "YES" : "NO" )</span> </h5>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-col-pink">
                            <div class="panel-heading" role="tab" id="headingOne_19">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapseOne_19" aria-expanded="true" aria-controls="collapseOne_19">
                                        Name
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne_19" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_19">
                                <div class="panel-body">
                                    @Model.Software.Name
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-col-cyan">
                            <div class="panel-heading" role="tab" id="headingTwo_19">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo_19" aria-expanded="true" aria-controls="collapseTwo_19">
                                        Version
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo_19" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo_19">
                                <div class="panel-body">
                                    @Model.Software.Version
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-col-teal">
                            <div class="panel-heading" role="tab" id="headingThree_19">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree_19" aria-expanded="true" aria-controls="collapseThree_19">
                                        License Info
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree_19" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree_19">
                                <div class="panel-body">
                                    <p><b>Start: </b>@Model.Software.LicenseStart.Value.ToShortDateString()</p>
                                    <p><b>End:</b> @Model.Software.LicenseEnd.Value.ToShortDateString()</p>
                                    <p><b>Days left:</b> @Math.Floor(Model.Software.DaysLeft())</p>
                                    <p><b>Total Licenses:</b> @Model.Software.LicensesInUse / @Model.Software.TotalLicenses</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-col-orange">
                            <div class="panel-heading" role="tab" id="headingFour_19">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour_19" aria-expanded="true" aria-controls="collapseFour_19">
                                        Use Cases
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour_19" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour_19">
                                <div class="panel-body">
                                    @Model.Software.UseCases
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-col-blue">
                            <div class="panel-heading" role="tab" id="headingFive_19">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive_19" aria-expanded="true" aria-controls="collapseFive_19">
                                        Description
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive_19" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive_19">
                                <div class="panel-body">
                                    @Model.Software.Description
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-col-amber">
                            <div class="panel-heading" role="tab" id="headingSix_19">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix_19" aria-expanded="true" aria-controls="collapseSix_19">
                                        Tech Area
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix_19" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix_19">
                                <div class="panel-body">
                                    @Model.Software.TechArea.Name
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-col-lime">
                            <div class="panel-heading" role="tab" id="headingSeven_19">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSeven_19" aria-expanded="true" aria-controls="collapseSeven_19">
                                        Type
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSeven_19" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSeven_19">
                                <div class="panel-body">
                                    @Model.Software.Tipi.Name
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-col-black">
                            <div class="panel-heading" role="tab" id="headingEight_19">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseEight_19" aria-expanded="true" aria-controls="collapseEight_19">
                                        Teams that Use it:
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseEight_19" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEight_19">
                                <div class="panel-body">
                                    @{
                                        @foreach (var t in Model.Software.Teams)
                                        {
                                            <p>@t.Name</p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="btn-group" role="group">
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Software.SoftwareId">Edit</a>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>