@model LM.Areas.Admin.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="body">
    <ol class="breadcrumb breadcrumb-bg-pink">
        <li><a asp-action="Index"><i class="material-icons">home</i> Dashboard</a></li>
    </ol>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    ITEMS
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row">
                    <h5 class="m-l-20">USERS</h5>
                    <hr />
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-indigo">tag_faces</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <a asp-controller="Users" asp-action="Index">USERS</a>
                                </div>
                                @{
                                    int UsersTotal = Model.AppUsers.Count();
                                <div class="number count-to" data-from="0" data-to="@UsersTotal" data-speed="1000" data-fresh-interval="20">@UsersTotal</div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 class="m-l-20">DEPARTMENTS AND TEAMS</h5>
                    <hr />
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-brown">equalizer</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <a asp-controller="Departments" asp-action="Index">DEPARTMENTS</a>
                                </div>
                                @{
                                    int DepartmentsTotal = Model.Departments.Count();
                                    <div class="number count-to" data-from="0" data-to="@DepartmentsTotal" data-speed="1000" data-fresh-interval="20">@DepartmentsTotal</div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-brown">equalizer</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <a asp-controller="Teams" asp-action="Index">TEAMS</a>
                                </div>
                                @{
                                    int TeamsTotal = Model.Teams.Count();
                                    <div class="number count-to" data-from="0" data-to="@TeamsTotal" data-speed="1000" data-fresh-interval="20">@TeamsTotal</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h5 class="m-l-20">SOFTWARE AUX</h5>
                    <hr />
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-brown">equalizer</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <a asp-controller="Tipis" asp-action="Index">Types</a>
                                </div>
                                @{
                                    int TipisTotal = Model.Tipis.Count();
                                    <div class="number count-to" data-from="0" data-to="@TipisTotal" data-speed="1000" data-fresh-interval="20">@TipisTotal</div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-brown">equalizer</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <a asp-controller="TechAreas" asp-action="Index">Tech Areas</a>
                                </div>
                                @{
                                    int TechAreasTotal = Model.TechAreas.Count();
                                    <div class="number count-to" data-from="0" data-to="@TechAreasTotal" data-speed="1000" data-fresh-interval="20">@TechAreasTotal</div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-brown">equalizer</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <a asp-controller="Resellers" asp-action="Index">Resellers</a>
                                </div>
                                @{
                                    int ResellersTotal = Model.Resellers.Count();
                                    <div class="number count-to" data-from="0" data-to="@ResellersTotal" data-speed="1000" data-fresh-interval="20">@ResellersTotal</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

